body {
    background-color: #F1F1F1;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

.text-center {
    text-align: center;
}

.container{
    position: relative;
}

.margins {
    margin-left: 1em;
    margin-right: 1em;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.page-footer {
    position: absolute;
    bottom: 0;
}

.jumbotron {
    background-color: #333333;
    color: #FFFFE9;
}
